<ion-view view-title="Detalle Observación">
  <ion-content has-header="true" padding="true">
	<form name="formGuardar" ng-submit="guardarDetalle()">
		<h2>Estandar</h2>
		<div class="list">
		 	<label class="item item-input">
	         	<span class="input-label">NCP</span>
	          	<input type="numeric" ng-model="data.ncp" required>
	        </label>
	        <label class="item item-input">
	         	<span class="input-label">NCO</span>
	          	<input type="numeric" ng-model="data.nco" required>
	        </label>
	        <label class="item item-input">
	         	<span class="input-label">Avance</span>
	        	<textarea ng-model="data.avance"></textarea>
	        </label>
	    </div>
	    <div class="row">
	    	<div class="col"><button class="button button-block button-positive">Atras</button></div>
			<div class="col"><button class="button button-block button-positive" type="submit"  ng-disabled="formGuardar.$invalid">Continuar</button></div>
		</div>
	</form>
  </ion-content>
</ion-view>
