<ion-view view-title="Detalle Observación">
    <ion-content has-header="true" padding="true" class="form__border">
        <div class="row">
            <div class="col text-center">
                <button class="button button-calm small_button" ng-disabled="disabledAtras" ng-click="atras()">Atras</button>
            </div>
            <div class="col text-center">
                <button class="button button-positive small_button" ng-disabled="disabledContinuar" ng-click="continuar()">{{ textoBoton }}</button>
            </div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col">
                <h3>Estandar #{{ indiceEstandar }}</h3>
            </div>
            <div class="col text-right">
                <button class="button button-energized small_button-observacion" ui-sref="menu.editarobservacion({ id_observacion : idObs.id_observacion })">Ver Observación</button>
            </div>
        </div>
        <p>
            {{descripcion}}
        </p>
        <form name="formGuardar">
            <div class="row">
                <div class="col col-center col-30"> <b>Comportamientos</b></div>
                <div class="col">  <b>Observados</b>
                    <input class="input__derecha" type="number" ng-model="data.nco">
                    <br /><br />
                     <b>Positivos</b>  <input class="input__derecha" type="number" ng-model="data.ncp">
                </div>
            </div>
            <b>Retroalimentación :</b>
            <textarea rows="5" style="width: 100%" ng-model="data.acciones"></textarea>
        </form>
    </ion-content>
</ion-view>
