<ion-view title="Login" hide-nav-bar="true" cache-view="false" nav-transition="none" style="">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div class="spacer" style="height: 80px;"></div>
        <div>
            <img src="img/pgas.png" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="height: 60px;"></div>
        <form id="login-form1" name="userForm" ng-submit="login()">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Usuario</span>
                    <input placeholder="Usuario" type="text" ng-model="data.alias" required autofocus>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Clave</span>
                    <input placeholder="Clave" type="password" ng-model="data.password" required>
                </label>
            </div>
            <ion-toggle ng-model="data.recordar" toggle-class="toggle-calm" style="display: none;">Recordar</ion-toggle>
            <div class="spacer" style="width: 290px; height: 22px;"></div>
            <button type="submit" id="login-button1" class="button button-positive  button-block" ng-disabled="userForm.$invalid">Entrar</button>
        </form>
    </ion-content>
</ion-view>
